/* variables */
:root {
    --textColor: rgb(102, 102, 102);
    --fontFamily: "Source Sans Pro", Helvetica, sans-serif;
    --fontSize: 18px;
    --lineHeight: 1.7; // 30.6px;
    --wordSpacing: 0.05em;
    --red: #cd0e66;
    --orange: #F6700F;
    --yellow: #fd8c00;
    --green: #22ab24;
    --blue: #0f82f2;
    --black: #181824;
}

body {
    max-width: 1240px;
}

.heading {
    color: rgb(51, 51, 51);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: var(--fontFamily);
    font-size: 28.8px;
    font-weight: 600;
    line-height: 1.15; // 33.12px;
    margin-bottom: 28.8px;
    word-spacing: var(--wordSpacing);
}

.sentence {
    display: block;
    color: var(--textColor);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    word-spacing: var(--wordSpacing);
}

.sentence.scaffold {
    /* transition: 0.5s all; */
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        background-color: #001F3F;
    }
    100% {
        background-color: #FF4136;
    }
}

.sentence.scaffold.hidden {
    display: none;
}

.btn {
    font-size: 18px;
    color: white;
    text-align: center;
    border: none;
    border-radius: 24px;
    padding: 0 1.2em;
    margin: 0;
    background-color: var(--blue);
    display: inline-block;
    width: auto;
    min-width: 48px;
    height: 2em;
    font-weight: 600;
    letter-spacing: .2px;
    appearance: none;
    outline: none;
    cursor: pointer;
}

#gc-ground rect {
    fill: var(--green);
    stroke-width: 2px;
}

#gc-slingshot path {
    fill: var(--yellow);
    stroke: var(--orange);
    stroke-width: 1.5;
}

#gc-rubberband line {
    stroke: var(--red);
    stroke-width: 4px;
    stroke-linecap: round;
}

#gc-bird circle {
    fill: var(--red);
    stroke: var(--orange);
}

#gc-trajectory path {
    stroke-width: 2px;
    stroke: var(--blue);
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 2 2 6 6;
}

#gc-bird {
    animation-name: fly;
    animation-duration: 10000ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* #gc-bird-obj {
    cx: 138;
    cy: 208;
} */

@keyframes fly {
    0% {
        offset-distance: 0%;
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    }
    50% {
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }
    100% {
        offset-distance: 100%;
    }
}
