/* variables */
:root {
    --textColor: rgb(102, 102, 102);
    --fontFamily: "Source Sans Pro", Helvetica, sans-serif;
    --fontSize: 18px;
    --lineHeight: 1.7; // 30.6px;
    --wordSpacing: 0.05em;
    --red: #cd0e66;
    --orange: #F6700F;
    --yellow: #fd8c00;
    --green: #22ab24;
    --blue: #0f82f2;
    --black: #181824;
}

body {
    max-width: 1240px;
}

.hidden {
    display: none !important;
}

.heading {
    color: rgb(51, 51, 51);
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: var(--fontFamily);
    font-size: 28.8px;
    font-weight: 600;
    line-height: 1.15; // 33.12px;
    margin-bottom: 28.8px;
    word-spacing: var(--wordSpacing);
}

.sentence {
    display: block;
    color: var(--textColor);
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: var(--lineHeight);
    word-spacing: var(--wordSpacing);
}

.btn {
    font-size: 18px;
    text-align: center;
    border: none;
    border-radius: 24px;
    padding: 0 1.2em;
    margin: 5px 0 5px 10px;
    display: inline-block;
    width: auto;
    min-width: 48px;
    height: 2em;
    font-weight: 600;
    letter-spacing: .2px;
    appearance: none;
    outline: none;
    cursor: pointer;
}

@media only screen and (max-width: 788px) {
    .btn {
        height: max-content;
        padding: 5px 1.2em;
    }
}

.btn-blue {
    color: white;
    background-color: var(--blue);
}

.btn-yellow {
    color: black;
    background-color: var(--yellow);
}

#gc-ground rect {
    fill: var(--green);
    stroke-width: 2px;
}

#gc-slingshot path {
    fill: var(--yellow);
    stroke: var(--orange);
    stroke-width: 1.5;
}

#gc-rubberband line {
    stroke: var(--red);
    stroke-width: 4px;
    stroke-linecap: round;
}

#gc-bird {

}

@keyframes gcBirdFly {
    0% {
        offset-distance: 0%;
        animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
    }
    50% {
        animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
    }
    /* 66% {
        animation-timing-function: cubic-bezier(0.66667, 1, 0.66667, 1);
    } */
    100% {
        offset-distance: 100%;
    }
}

#gc-bird circle {
    fill: var(--red);
    stroke: var(--orange);
}

@keyframes initializeBird {
    0% {
        cy: 0;
    }
    50% {
        cy: 300;
    }
    100% {
        cy: 208;
    }
}

#gc-trajectory path {
    stroke-width: 2px;
    stroke: var(--blue);
    stroke-linecap: round;
    fill: none;
    stroke-dasharray: 2 2 6 6;
}

.scaffold-container {
    display: flex;
    align-items: baseline;
}

.credits-container .sentence {
    display: flex;
    justify-content: center;
    animation: creditsColorChange 2s infinite;
}

.credits-container .sentence a {
    color: inherit;
}

@keyframes creditsColorChange {
    0% {
        color: var(--red);
    }
    20% {
        color: var(--orange);
    }
    40% {
        color: var(--yellow);
    }
    60% {
        color: var(--green);
    }
    80% {
        color: var(--blue);
    }
    100% {
        color: var(--red);
    }
}
